{% extends 'main/base.html' %}
{% block content %}
<h2 class="mt-5">Список сотрудников</h2>
{% for employee in employees %}
    <ul class="post">
        <li>
        {{ employee.name }}
        <ul>
            <li>Должность: {{ employee.position }}</li>
            <li>Дата приема на работу: {{ employee.start_date }}</li>
            <li>Размер заработной платы: {{ employee.salary }} тыс. руб</li>
            <li>Начальник: {{ employee.parent.name }}</li>
        </ul>
        </li>
    </ul>
    <button type="button" class="btn btn-primary">Подробнее</button>
    <button type="button" class="btn btn-primary">Редактировать</button>
    <button type="button" class="btn btn-danger">Удалить</button>
{% endfor %}

{% endblock %}